@tailwind base;
@tailwind components;
@tailwind utilities;

/* Add this to your global styles */
.scrollbar-hide::-webkit-scrollbar {
    display: none;
  }
  .scrollbar-hide {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
  }

  .nova-slim-regular {
    font-family: "Nova Slim", serif;
    font-weight: 400;
    font-style: normal;
  }
  